<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>validAddDepart</servlet-name>
        <servlet-class>Depatservlets.validAddDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validUpdateDept</servlet-name>
        <servlet-class>Depatservlets.validUpdateDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validDeactDept</servlet-name>
        <servlet-class>Depatservlets.validDeactDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeUpdateDepart</servlet-name>
        <servlet-class>Depatservlets.beforeUpdateDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeDeactDepart</servlet-name>
        <servlet-class>Depatservlets.beforeDeactDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeAddCourse</servlet-name>
        <servlet-class>Courseservlets.beforeAddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validAddCourse</servlet-name>
        <servlet-class>Courseservlets.validAddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateGroupName</servlet-name>
        <servlet-class>GroupServlets.validateGroupName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserbyDept</servlet-name>
        <servlet-class>Userservlets.getUserbyDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDeparts</servlet-name>
        <servlet-class>Depatservlets.getDeparts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeUpdateCourse</servlet-name>
        <servlet-class>Courseservlets.beforeUpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCourseName</servlet-name>
        <servlet-class>Courseservlets.getCourseName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLabs</servlet-name>
        <servlet-class>Labservlets.getLabs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmailUser</servlet-name>
        <servlet-class>Userservlets.getEmailUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validAddUser</servlet-name>
        <servlet-class>Userservlets.validAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validUpdateUser</servlet-name>
        <servlet-class>Userservlets.validUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validDeactUser</servlet-name>
        <servlet-class>Userservlets.validDeactUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validAssigLabCourse</servlet-name>
        <servlet-class>Courseservlets.validAssigLabCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllGroupsForUpdate</servlet-name>
        <servlet-class>GroupServlets.getAllGroupsForUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateNameUpdateGroup</servlet-name>
        <servlet-class>GroupServlets.validateNameUpdateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllGroupsForDeactive</servlet-name>
        <servlet-class>GroupServlets.getAllGroupsForDeactive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateNameDeactivateGroup</servlet-name>
        <servlet-class>GroupServlets.validateNameDeactivateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCoursesByDept</servlet-name>
        <servlet-class>Courseservlets.getCoursesByDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeDeactCourse</servlet-name>
        <servlet-class>Courseservlets.beforeDeactCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validDeactCourse</servlet-name>
        <servlet-class>Courseservlets.validDeactCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validAddDepart</servlet-name>
        <url-pattern>/validAddDepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validUpdateDept</servlet-name>
        <url-pattern>/validUpdateDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeUpdateDepart</servlet-name>
        <url-pattern>/beforeUpdateDepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validDeactDept</servlet-name>
        <url-pattern>/validDeactDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeDeactDepart</servlet-name>
        <url-pattern>/beforeDeactDepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeAddCourse</servlet-name>
        <url-pattern>/beforeAddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validAddCourse</servlet-name>
        <url-pattern>/validAddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateGroupName</servlet-name>
        <url-pattern>/validateGroupName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllGroupsForUpdate</servlet-name>
        <url-pattern>/getAllGroupsForUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateNameUpdateGroup</servlet-name>
        <url-pattern>/validateNameUpdateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllGroupsForDeactive</servlet-name>
        <url-pattern>/getAllGroupsForDeactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateNameDeactivateGroup</servlet-name>
        <url-pattern>/validateNameDeactivateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCoursesByDept</servlet-name>
        <url-pattern>/getCoursesByDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeDeactCourse</servlet-name>
        <url-pattern>/beforeDeactCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validDeactCourse</servlet-name>
        <url-pattern>/validDeactCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDeparts</servlet-name>
        <url-pattern>/getDeparts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeUpdateCourse</servlet-name>
        <url-pattern>/beforeUpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCourseName</servlet-name>
        <url-pattern>/getCourseName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLabs</servlet-name>
        <url-pattern>/getLabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmailUser</servlet-name>
        <url-pattern>/getEmailUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validAddUser</servlet-name>
        <url-pattern>/validAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserbyDept</servlet-name>
        <url-pattern>/getUserbyDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validUpdateUser</servlet-name>
        <url-pattern>/validUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validDeactUser</servlet-name>
        <url-pattern>/validDeactUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validAssigLabCourse</servlet-name>
        <url-pattern>/validAssigLabCourse</url-pattern>
    </servlet-mapping>
    <!--    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>RequestLoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->   
 <servlet>
        <servlet-name>GetCourses</servlet-name>
        <servlet-class>servlets.GetCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLabs</servlet-name>
        <servlet-class>servlets.GetLabs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeliveryqueue</servlet-name>
        <servlet-class>servlets.GetDeliveryqueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDeliveryQueue</servlet-name>
        <servlet-class>servlets.HandleDeliveryQueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGroups</servlet-name>
        <servlet-class>servlets.GetGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAssisQueue</servlet-name>
        <servlet-class>servlets.HandleAssisQueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseLab</servlet-name>
        <servlet-class>servlets.CloseLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableUploading</servlet-name>
        <servlet-class>servlets.EnableUploading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftQueueToLab</servlet-name>
        <servlet-class>servlets.ShiftQueueToLab</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>GetCourses</servlet-name>
        <url-pattern>/GetCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLabs</servlet-name>
        <url-pattern>/GetLabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeliveryqueue</servlet-name>
        <url-pattern>/GetDeliveryqueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleDeliveryQueue</servlet-name>
        <url-pattern>/HandleDeliveryQueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroups</servlet-name>
        <url-pattern>/GetGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAssisQueue</servlet-name>
        <url-pattern>/HandleAssisQueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseLab</servlet-name>
        <url-pattern>/CloseLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableUploading</servlet-name>
        <url-pattern>/EnableUploading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftQueueToLab</servlet-name>
        <url-pattern>/ShiftQueueToLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/StudentView/StudentView.jsp</url-pattern>
        <url-pattern>/deactivateGroup.jsp</url-pattern>
        <url-pattern>/deleteGroup.jsp</url-pattern>
        <url-pattern>/updateGroup.jsp</url-pattern>
        <url-pattern>/AddCourse.jsp</url-pattern>
        <url-pattern>/AddDepart.jsp</url-pattern>
        <url-pattern>/course.jsp</url-pattern>
        <url-pattern>/Department.jsp</url-pattern>
        <url-pattern>/Group.jsp</url-pattern>
        <url-pattern>/Home.jsp</url-pattern>
        <url-pattern>/UpdateDepart.jsp</url-pattern>
        <url-pattern>/User.jsp</url-pattern>
        <url-pattern>/assigncoursetoGroup.jsp</url-pattern>
        <url-pattern>/assignstufftoGroup.jsp</url-pattern>
        <url-pattern>/assigntraineetoGroup.jsp</url-pattern>
        <url-pattern>/createGroup.jsp</url-pattern>
        <url-pattern>/deactivateGroup.jsp</url-pattern>
        <url-pattern>/deactiveCourse.jsp</url-pattern>
        <url-pattern>/deactiveDepart.jsp</url-pattern>
        <url-pattern>/deleteGroup.jsp</url-pattern>
        <url-pattern>/AddUser.jsp</url-pattern>
        <url-pattern>/AssignLabCourse.jsp</url-pattern>
        <url-pattern>/UpdateUser.jsp</url-pattern>
        <url-pattern>/deactiveCourse.jsp</url-pattern>
        <url-pattern>/deactiveUser.jsp</url-pattern>
        <url-pattern>/updateCourse.jsp</url-pattern>
        
        <!--servlets-->
        <url-pattern>/validateNameDeactivateGroup</url-pattern>
        <url-pattern>/getAllGroupsForDeactive</url-pattern>
        <url-pattern>/validateNameUpdateGroup</url-pattern>
        <url-pattern>/getAllGroupsForUpdate</url-pattern>
        <url-pattern>/validateGroupName</url-pattern>
        <url-pattern>/validAddCourse</url-pattern>
        <url-pattern>/beforeAddCourse</url-pattern>
        <url-pattern>/beforeDeactDepart</url-pattern>
        <url-pattern>/validDeactDept</url-pattern>
         <url-pattern>/beforeUpdateDepart</url-pattern>
        <url-pattern>/validUpdateDept</url-pattern>
        <url-pattern>/validAddDepart</url-pattern>
        <url-pattern>/QueueServlet</url-pattern>
        <url-pattern>/CancelAssistanceQueueRequest</url-pattern>
        <url-pattern>/CancelDeliveryQueueRequest</url-pattern>
        <url-pattern>/CancelRequestInDeliveryQueueServlet</url-pattern>
         <url-pattern>/RequestAssistantQueueServlet</url-pattern>
        <url-pattern>/RequestDeliveryQueueServlet</url-pattern>
        <url-pattern>/getLabs</url-pattern>
        <url-pattern>/getEmailUser</url-pattern>
        <url-pattern>/getUserbyDept</url-pattern>
        <url-pattern>/validAddUser</url-pattern>
        <url-pattern>/validDeacteUser</url-pattern>
        <url-pattern>/validUpdateUser</url-pattern>
        <url-pattern>/beforeDeactCourse</url-pattern>
        <url-pattern>/beforeUpdateCourse</url-pattern>
        <url-pattern>/getCoursesByDept</url-pattern>
        <url-pattern>/validAssigLabCourse</url-pattern>
        <url-pattern>/validDeactCourse</url-pattern>
        <url-pattern>/validUpdateCourse</url-pattern>
        <url-pattern>/getDeparts</url-pattern>
        <url-pattern>/UploadServlet</url-pattern>
        <url-pattern>/UploadServlet</url-pattern>
        
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>uploadServlet.FileLocationContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>uploadServlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>uploadServlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestDeliveryQueueServlet</servlet-name>
        <servlet-class>servlets.trainee.RequestDeliveryQueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAssistantQueueServlet</servlet-name>
        <servlet-class>servlets.trainee.RequestAssistantQueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRequestInDeliveryQueueServlet</servlet-name>
        <servlet-class>servlets.trainee.CancelRequestInDeliveryQueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelDeliveryQueueRequest</servlet-name>
        <servlet-class>servlets.trainee.CancelDeliveryQueueRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAssistanceQueueRequest</servlet-name>
        <servlet-class>servlets.trainee.CancelAssistanceQueueRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestDeliveryQueueServlet</servlet-name>
        <url-pattern>/RequestDeliveryQueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAssistantQueueServlet</servlet-name>
        <url-pattern>/RequestAssistantQueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRequestInDeliveryQueueServlet</servlet-name>
        <url-pattern>/CancelRequestInDeliveryQueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelDeliveryQueueRequest</servlet-name>
        <url-pattern>/CancelDeliveryQueueRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAssistanceQueueRequest</servlet-name>
        <url-pattern>/CancelAssistanceQueueRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueueServlet</servlet-name>
        <servlet-class>servlets.trainee.TraineeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueueServlet</servlet-name>
        <url-pattern>/QueueServlet</url-pattern>
    </servlet-mapping>
<!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
